.main-mail-page {
  display: flex;
}

.filter-list-cont {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 70%;
  min-width: 140px;
  max-width: 350px;
  margin: auto;
}

.compose-and-folder {
  display: flex;
  flex-direction: column;
}

.compose-btn {
  height: 50px;
  text-align: center;
  vertical-align: 50px;
  line-height: 40px;
  background-color: rgb(96, 224, 139);
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.compose-word {
  display: none;
}

.compose-btn:hover {
  background-color: rgb(96, 224, 186);
}

.mail-folder-list-ul {
  list-style: none;
  padding: 0;
}
.mail-folder-list-ul li {
  background-color: #fce8e6;
  padding: 3px 9px;
  transition: 0.25s;
}

.mail-folder-list-ul li:hover {
  background-color: rgb(245, 212, 255);
}

.mail-folder-list-ul:hover {
  cursor: pointer;
}

.folder-clicked {
  background-color: rgb(155, 130, 163) !important;
}

/* Break Point!
Break Point!
Break Point!
Break Point! */

@media (min-width: 530px) {
  .compose-btn {
    height: 50px;
    vertical-align: 50px;
    line-height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
  }

  .filter-list-cont {
    width: calc(100% - 140px);
  }

  .compose-word {
    display: inline;
  }

  .mail-folder-list-ul li {
    padding: 10px 30px;
  }
}
