.main-header {
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.logo-div{
    font-size: 2rem;
    font-weight: bold;
}
.logo-div:hover{
    cursor: pointer;
}

.nav-bar-ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
}
.nav-bar-ul li:hover{
    cursor: pointer;
}

