.notes-cont {
  display: flex;
  flex-direction: column;
  flex-flow: row;
  flex-wrap: wrap;
}

.note-card {
  background-color: rgb(89, 186, 216);
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
}

.note-card span {
  margin: 5px;
  background-color: rgb(165, 182, 17);
}
